<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.caojun.dice" >

    <application android:allowBackup="true">

        <activity
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:name=".DiceActivity" />
    </application>
</manifest>
